@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueCyr-Roman.woff2"), url("/fonts/HelveticaNeueCyr-Roman.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBoldCondensed.woff2"), url("/fonts/HelveticaNeueBoldCondensed.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBlackCondensed.woff2"), url("/fonts/HelveticaNeueBlackCondensed.woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.woff2"), url("/fonts/Roboto-Light.woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #1A1A1A;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.header {
  border-bottom: 2px solid #FFFFFF;
  position: absolute;
  left: 0;
  right: 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media (max-width: 768px) {
  .header__inner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 0 200px;
    padding-left: 20px;
  }
}
@media (max-width: 321px) {
  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 9px;
}
@media (max-width: 321px) {
  .header__left {
    padding-left: 35px;
  }
}

.header__logo {
  padding-top: 10px;
}

.header__right {
  margin-right: 11px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 321px) {
  .header__menu {
    gap: 0 30px;
  }
}

.header__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 90px;
  color: #FFFFFF;
}

.header__link--first {
  font-weight: 700;
  font-size: 14px;
  line-height: 90px;
  color: #34C759;
}

.promo {
  background-image: url(../images/promo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 171px;
}

.promo__inner {
  min-height: 100vh;
  text-align: center;
}
@media (max-width: 768px) {
  .promo__inner {
    padding-right: 380px;
  }
}
@media (max-width: 321px) {
  .promo__inner {
    text-align: start;
  }
}

.promo__title {
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 16px;
  max-width: 1110px;
}
@media (max-width: 321px) {
  .promo__title {
    font-size: 25px;
    line-height: 35px;
    max-width: 300px;
  }
}
.promo__title span {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 67px;
  line-height: 60px;
  letter-spacing: 0.1em;
}
@media (max-width: 321px) {
  .promo__title span {
    font-size: 25px;
    line-height: 35px;
    max-width: 300px;
  }
}

.promo__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.7;
  max-width: 595px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
@media (max-width: 321px) {
  .promo__text {
    font-size: 16px;
    line-height: 30px;
    max-width: 300px;
    margin-left: 0;
  }
}

.promo__btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #1A1A1A;
  background: #34C759;
  border-radius: 43px;
  border: 1px solid #34C759;
  padding: 25px 57px 25px 58px;
  margin-bottom: 70px;
  cursor: pointer;
}
@media (max-width: 321px) {
  .promo__btn {
    margin-left: 55px;
    padding: 15px 30px 15px 30px;
    margin-bottom: 40px;
  }
}

.promo__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 90px;
}
@media (max-width: 321px) {
  .promo__items {
    gap: 30px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 300px;
  }
}

.widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.widget__img {
  margin-bottom: 16px;
  width: 18px;
  height: 18px;
}

.widget__conect {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.widget__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .basic {
    padding-left: 25px;
  }
}
@media (max-width: 321px) {
  .basic {
    padding-left: 2px;
  }
}

.basic__inner {
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding-top: 105px;
  padding-bottom: 90px;
}
@media (max-width: 768px) {
  .basic__inner {
    max-width: 700px;
  }
}
@media (max-width: 321px) {
  .basic__inner {
    max-width: 300px;
  }
}

.basic__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 74px;
  letter-spacing: 0.2em;
  color: #D9D9D9;
  background-image: url(../images/ABOUT.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 31px;
}
@media (max-width: 321px) {
  .basic__title {
    background-size: 280px;
    line-height: 40px;
  }
}

.basic__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #A6A6A6;
  max-width: 734px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
}
@media (max-width: 321px) {
  .basic__text {
    margin-bottom: 20px;
  }
}

.basic__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 34px;
}
@media (max-width: 321px) {
  .basic__images {
    gap: 20px 34px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .basic__img {
    max-width: 40%;
  }
}
@media (max-width: 321px) {
  .basic__img {
    max-width: 85%;
  }
}

.work__inner {
  padding-top: 61px;
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  .work__inner {
    max-width: 750px;
  }
}
@media (max-width: 321px) {
  .work__inner {
    max-width: 300px;
  }
}

.work__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 74px;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  color: #D9D9D9;
  background-image: url(../images/WORK.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 28px;
}
@media (max-width: 321px) {
  .work__title {
    background-size: 280px;
  }
}

.border__title {
  border: 1px solid #34C759;
  background: #34C759;
  max-width: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 59px;
}

.work__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 30px;
}
@media (max-width: 768px) {
  .work__items {
    gap: 30px 30px;
    max-width: 680px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 30px;
  }
}
@media (max-width: 321px) {
  .work__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 5px;
  }
}

.work__item {
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 24px;
  padding-bottom: 60px;
}
@media (max-width: 768px) {
  .work__item {
    max-width: 320px;
  }
}

.work__item--first {
  background: #34C759;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 24px;
  padding-bottom: 42px;
}
@media (max-width: 768px) {
  .work__item--first {
    max-width: 320px;
  }
}

.work__subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.275px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.work__subtitle--first {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.275px;
  text-transform: capitalize;
  color: #191919;
  margin-bottom: 16px;
}

.work__border {
  border: 1px solid #34C759;
  background: #34C759;
  max-width: 58px;
  margin-bottom: 24px;
}

.work__border--first {
  border: 1px solid #191919;
  background: #191919;
  max-width: 58px;
  margin-bottom: 24px;
}

.work__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1625px;
  color: rgba(255, 255, 255, 0.5);
  min-width: 207px;
}

.work__text--first {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1625px;
  color: #191919;
  min-width: 200px;
}

.dishes__inner {
  padding-top: 90px;
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  .dishes__inner {
    max-width: 750px;
  }
}
@media (max-width: 321px) {
  .dishes__inner {
    max-width: 300px;
  }
}

.dishes__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 74px;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  color: #D9D9D9;
  background-image: url(../images/DISHES.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 28px;
}
@media (max-width: 321px) {
  .dishes__title {
    background-size: 280px;
  }
}

.dishes__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 321px) {
  .dishes__cards {
    margin-left: 10px;
  }
}

.card {
  max-width: 350px;
  background: #252525;
}
@media (max-width: 321px) {
  .card {
    max-width: 280px;
  }
}
@media (max-width: 321px) {
  .card img {
    max-width: inherit;
  }
}

.card__item {
  padding: 29px 24px 24px 30px;
}
@media (max-width: 321px) {
  .card__item {
    padding: 29px 5px 24px 5px;
  }
}

.card__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 30px;
  color: #D9D9D9;
}

.card__subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.15px;
  color: #A4A8B2;
  margin-bottom: 20px;
}

.card__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1625px;
  color: #85878C;
  max-width: 290px;
  margin-bottom: 26px;
}

.card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__stars {
  max-height: 30px;
}

.card__btn--color {
  font-weight: 900;
  font-size: 10px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #252525;
  background: #34C759;
  border-radius: 43px;
  border: 1px solid #34C759;
  padding: 0 32px;
  cursor: pointer;
}
@media (max-width: 321px) {
  .card__btn--color {
    padding: 0 20px;
  }
}

.card__btn {
  font-weight: 900;
  font-size: 10px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  background: #252525;
  border-radius: 43px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0 32px;
  cursor: pointer;
}
@media (max-width: 321px) {
  .card__btn {
    padding: 0 20px;
  }
}